<!DOCTYPE html>
<html>
  <head>
    <title>VuexSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.1.0/js/all.js', :defer => 'defer' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'main' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
